/* NewsList.css */

.newsList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.newsListItem {
  padding: 1px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  transition: box-shadow 0.3s;

  display: grid;
  grid-template-columns: 50px 3fr; /* 左侧一列为较小宽度，右侧一列为较大宽度 */
  grid-template-rows: auto auto; /* 行高度自适应 */
  grid-template-areas:
    "part1 part2"
    "part3 part4";
  align-items: baseline;
  justify-content: flex-start;
}

.newsListItemLeftPart {
  grid-area: part1;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.votingSection {
  width: 30px; /* 固定宽度，确保空间被保留 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.voteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.voteTriangle {
  width: 10px; /* 根据需要调整大小 */
  height: 10px;
}

.newsContent {
  grid-area: part2;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.newsListItemTitle {
  font-size: 10pt;
  color: #2c3e50;
  display: inline-block;
  text-align: center;
}

.newsListTitleLink {
  text-decoration: none;
  color: inherit;
}

.newsListTitleLink:hover {
  text-decoration: underline;
}

.newsListItemLink {
  /* 灰色 */
  color: #555;
  font-size: 8pt;
  display: inline-block;
  margin-left: 1px;
  text-align: center;
  text-decoration: none;
}

.newsListItemLink:hover {
  color: #555;
  text-decoration: underline;
}

.newsListItemMeta {
  font-size: 8pt;
  color: #555;
  display: flex;
  align-items: center;
  text-align: left;
  grid-area: part4;
}

.newsListItemMeta > * {
  margin-right: 1px;
  margin-left: 1px;
}

.unvoteButton {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 8pt;
  margin-left: 5px;
}

.unvoteButton:hover {
  text-decoration: underline;
}

.newsListContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.newsListMore {
  margin-top: 10px;
  /* 颜色：灰色 */
  color: #555;
  font-size: 10pt;
  /* 没有下划线 */
  text-decoration: none;
}

.newsListNumber {
  color: #555;
  font-size: 10pt;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.withVerticalBar:before {
  content: "|";
  padding-left: 1px;
  padding-right: 2px;
}
