/* srcomponents/NavBar.css */

/* 导航栏样式 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6600; /* 仿照 Hacker News 的橙色 */
  z-index: 1000;
  font-size: 10pt;
  color: black;
  height: 20px;
  padding: 2px;
}

.navbarLeft,
.navbarRight {
  display: flex;
  align-items: center;
  padding-right: 4px;
  color: inherit;
}

.navbarTitle {
  /* 加粗 */
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
}

.navbarLink {
  text-decoration: none;
  color: inherit;
}

.navbarLink:hover {
  text-decoration: none;
}

.navbarIcon {
  width: 18px;
  aspect-ratio: auto 18 / 18;
  height: 18px;
  border: 1px black solid;
}

.navbarHomeLink {
  display: flex;
  align-items: center;
  padding-right: 5px;
  text-decoration: none;
  color: inherit;
}

.navbarSeparator {
  margin-right: 5px;
  margin-left: 5px;
}

.navbarLogout {
  background: none;
  border: none;
  text-decoration: none;
}

.navbarUserName {
  background: none;
  border: none;
  text-decoration: none;
  color: inherit;
}


.navbarButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navbarButton:hover {
  text-decoration: underline;
}
