.commentList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.commentListItem {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
}

.commentListNumber {
  width: 30px;
  text-align: right;
  margin-right: 10px;
  color: #666;
}

.voteTriangle {
  width: 10px; /* Adjust size as needed */
  height: 10px;
}

.voteButton {
  background-color: transparent;
  margin-right: 5px;
}

.commentContentWithMeta {
  flex: 1;
}

.commentMeta {
  font-size: 12px;
  color: #999;
  margin-bottom: 4px;
}

.commentAuthor {
  font-weight: bold;
}

.commentContent {
  font-size: 14px;
  color: #333;
}

.commentPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.commentListMore {
  margin-top: 10px;
  /* 颜色：灰色 */
  color: #555;
  font-size: 10pt;
  /* 没有下划线 */
  text-decoration: none;
}

.commentPageInfo {
  font-size: 14px;
  color: #555;
}

.commentListContainer {
  width: 100%;
  height: 100%;
}
