/* srcomponents/Item.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 8px;
}

/* Main content area */
.newsItemContainer {
  flex: 1;
  padding: 20px;
  background-color: rgb(246, 246, 239); /* Updated background color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Title and URL container */
.newsTitleContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}

/* Title styles */
.newsTitle {
  margin-bottom: 10px;
  font-size: 17px;
}

.newsTitle a {
  text-decoration: none;
  color: #333;
}

/* Small URL next to the title */
.newsUrlSmall {
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

.newsUrlSmall:hover {
  text-decoration: underline;
}

/* Metadata Bar */
.newsMeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
}

.newsMeta span,
.newsMeta a {
  margin-right: 4px;
  margin-left: 4px;
}

.newsMeta a:hover {
  text-decoration: underline;
}

.newsPoints {
  font-weight: bold;
}

.newsAuthor {
  font-weight: bold;
}

.newsTime {
  color: #888;
}

.newsText {
  font-size: 16px;
  line-height: 1.6;
  color: #34495e;
  margin-bottom: 10px;
}

/* Comment Input and Button */
.addComment {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.addComment textarea {
  resize: vertical;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 45%;
  height: 150px;
}

.addComment button {
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  background-color: #ff6600;
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #000;
}

/* Comments Section */
.commentsSection {
  margin-top: 30px;
}

.commentsSection h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

/* Loading state */
.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}

/* Error message */
.error {
  color: red;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

/* Comments List */
.commentsList {
  list-style: none;
  padding: 0;
}

.votingSection {
  width: 30px; /* Fixed width to reserve space */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust spacing as needed */
}

.voteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.voteTriangle {
  width: 10px; /* Adjust size as needed */
  height: 10px;
}

/* Unvote Button Styling */
.unvoteButton {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 8pt;
  margin-left: 5px;
}

.unvoteButton:hover {
  text-decoration: underline;
}
