/* src/components/Item.css */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content area */
.news-item-container {
  flex: 1;
  padding: 20px;
  background-color: rgb(246, 246, 239); /* Updated background color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Title and URL container */
.news-title-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}

/* Title styles */
.news-title {
  margin-bottom: 10px;
  font-size: 17px;
}

.news-title a {
  text-decoration: none;
  color: #333;
}

/* Small URL next to the title */
.news-url-small {
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

.news-url-small:hover {
  text-decoration: underline;
}

/* Metadata Bar */
.news-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
}

.news-meta span,
.news-meta a {
  margin-right: 4px;
  margin-left: 4px;
}

.news-meta a:hover {
  text-decoration: underline;
}

.news-points {
  font-weight: bold;
}

.news-author {
  font-weight: bold;
}

.news-time {
  color: #888;
}

.news-text {
  font-size: 16px;
  line-height: 1.6;
  color: #34495e;
  margin-bottom: 10px;
}

/* Comment Input and Button */
.add-comment {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.add-comment textarea {
  resize: vertical;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 45%;
  height: 150px;
}

.add-comment button {
  margin-top: 10px;
  padding: 8px 16px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-start;
}

/* Comments Section */
.comments-section {
  margin-top: 30px;
}

.comments-section h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

/* Loading state */
.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}

/* Error message */
.error {
  color: red;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

/* Comments List */
.comments-list {
  list-style: none;
  padding: 0;
}

.voting-section {
  width: 30px; /* Fixed width to reserve space */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust spacing as needed */
}

.vote-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.vote-button.hidden {
  visibility: hidden; /* Hide button but keep space */
}

.vote-triangle {
  width: 10px; /* Adjust size as needed */
  height: 10px;
}

.self-post-tag {
  color: red;
  padding: 1px 3px;
  font-size: 12px; /* Adjust font size as needed */
}

/* Unvote Button Styling */
.unvote-button {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 8pt;
  margin-left: 5px;
}

.unvote-button:hover {
  text-decoration: underline;
}
