/* srcomponents/FaqPage.css */

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* 使整个盒子居中 */
  padding: 20px;
  text-align: left;
  width: 50%;
  margin: auto 0;

}

.faqList {
  background-color: rgb(246, 246, 239);
  margin: 10px;
}

.qaBox {
  padding: 20px;
}

.faqIcon {
  width: 80px;
}

.faqList .question {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.faqList .answer {
  font-size: 13px;
  line-height: 1.5;
}
