.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notFoundText {
  text-align: center;
}

.largeText {
  font-size: 10rem;
  color: rgb(255, 89, 0);
  display: block;
}

.smallText {
  font-size: 2rem;
  color: rgb(255, 89, 0);
}
